body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.bdButton{
    color:red;
}
.header{
    background-color: blue;
    padding-top: 52px;
    padding-bottom: 80px;
    margin-bottom: 50px;
}
.container{
    width: 1160px;
    margin: 0 auto;
}
.header-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu ul{
    display: flex;
    padding-left: 0px;
}
.menu ul li{
    list-style: none;
    padding-right: 36px;
}
.menu ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
.btn{
    background-color: #E02C6D;
    font-size: 16px;
    padding: 10px 24px;
    color: #fff;
    text-decoration: none;
}
.banner-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    padding-top: 80px;
}
.banner-title h1{
    font-size: 60px;
    color: #fff;
    line-height: 80px;
}
.watch-live{
    background-color: #E02C6D;
    font-size: 16px;
    padding: 10px 24px;
    color: #fff;
}
.banner-image img{
    width: 100%;
    transition: transform 2s ease-in-out;
}
.banner-image:hover img{
    transform: scale(1.2);
}

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
}
.player{
    background-color: #fff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 20px;
    border-radius: 5px;
}
.player img{
    width: 332px;
    height: 256px;
}
.player h3{
    color: #18191F;
    font-size: 28px;
    font-weight: 700;
    margin: 10px 0 1px;
}
.player p{
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 5px;
}
.highlight-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 150px;
}
.highlight-title h1{
    color: #0A0826;
    font-size: 48px;
    margin-bottom: 10px;
}
.highlight-title p{
    color: #6C6C6C;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 24px;
}
.highlight-image img{
    width: 100%;
}
footer{
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-top: 130px;
}
.footer-img{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.icon img{
    width: 32px;
    height: 32px;
    margin-left: 10px;
}
footer p{
    color: #000000;
    font-size: 18px;
}
@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    .header{
        padding-top: 0px;  
        padding-bottom: 0px; 
    }
    .header-items{
        display: grid;
        grid-template-columns: 1fr;
        padding: 20px;
    }
    .menu ul{
        flex-direction: column;
        row-gap: 15px;
        margin-bottom: 30px;
    }
   
    .banner-section{
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
        row-gap: 40px;
    }
    .banner-title{
        order: 1;
    }
    .banner-image{
        order: 2;
    }
    .banner-title h1{
        font-size: 30px;
        line-height: 35px;
    }
   .banner-image img{
        width: 100%;
   }
    .players{
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
    .player{
        margin: 0 10px;
    }
    .player img{
        width: 100%;
    }
    .player p{
        font-size: 12px;
        line-height: 20px;
    }
    .highlight-section{
        grid-template-columns: repeat(1, 1fr); 
        margin-top: 70px;   
    }
    .highlight-title{
        text-align: center;
        margin-bottom: 30px;
    }
    .highlight-title h1{
       font-size: 30px;
       line-height: 40px;
    }
    .highlight-title p{
        font-size: 11px;
        line-height: 15px;
        padding: 0 5px;
    }
    .highlight-image{
        padding: 0 10px;
    }
   
}
@media  only screen and (min-width:688px) and (max-width:992px){
    .container{
        width: 100%;
    }
    .header{
        padding: 52px 20px 80px;
    }
    .banner-title h1{
        font-size: 40px;
        line-height: 55px;
    }
    .banner-image img{
        width: 100%;
    }
    .players{
        grid-template-columns: repeat(2, 1fr);
    }
    .player img{
        width: 100%;
    }
    
    .highlight-section{
        grid-template-columns: repeat(1, 1fr); 
        margin-top: 70px;   
    }
    .highlight-title{
        width: 50%;
        margin: 0 auto 50px;
    }    
}